<div class="footer">
    <p>&copy; @DateTime.Now.Year - Réseau Social d'Entreprise - Technofutur-TIC</p>
    <p>
        réalisé par <a href="mailto:zyadain@hotmail.com">Abdelilah Z.</a>, <a href="mailto:aymerico159@gmail.com
">Aymeric W.</a>, <a href="mailto:legrain.s@outlook.com">Samuel L.</a>
    </p>
</div>