@model MVC.Models.ViewModel.Messaging
@{ 
    MVC.Models.User UserSession = (MVC.Models.User)HttpContext.Current.Session["User"];
}

<div id="MessageZone">
    @Html.Partial("_MessageList", Model.Posts)
</div>
<div id="MessageAnswer">
    @Html.Partial("_MessageAnswerForm", Model.AnswerForm)
</div>