tbody tr:hover {
    background-color: #B2E6D4;
}

.fc tr:hover, .tb-post tr:hover {
    background-color: transparent !important;
}

/*body{
    position:relative;
}

.footer {
    position: absolute;
    }*/
.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

input[type="checkbox"] {
    margin-left: 0px !important;
}
/*
form {
    margin: auto;
    width: fit-content;
    height: fit-content;
}*/
